* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



img {
  max-width: 100%;
  max-height: 100%;
}


ul {
  list-style: none;
}

section {
  padding: 1rem 0;
}

.SignInlink {
  color: #3E97FF;

}

.SignInlink:hover {
  color: #287ad8;
  transition: 0.4s;
}